/* STILE PRINCIPALE DELLA PAGINA */
body {
    background-color: #CD5C5C;  /* Colore di sfondo del body */
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0; /* Rimuove il margine predefinito */
    padding: 0; /* Rimuove il padding predefinito */
    overflow: hidden;
}

/* Container per i rettangoli */
.containerRettangolo {
    margin-top: 100px; /* Abbassato rispetto al menu */
}

/* Rettangolo con larghezza completa e altezza di 10px */
.rettangolo {
    width: 100%;    
    height: 10px;  
}

/* Colori per i rettangoli */
.verde {
    background-color: green !important;
}

.bianco {
    background-color: white !important;
}

.rosso {
    background-color: red !important;
}

/* ANIMAZIONE IMMAGINE */
.animazioneImm {
    position: absolute;
    width: 150px;  
    height: auto;  
    animation: muoviImmagine 5s ease-in-out forwards;  
    top: 0;
    left: -100px;
}

/* Definisci l'animazione con @keyframes */
@keyframes muoviImmagine {
    0% {
        left: -100px;
    }
    100% {
        left: 400px;
    }
}

/* MENU */
nav {
    background-color: #333;
    padding: 10px 0; /* Rende il menu più visibile */
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 40px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
    transition: color 0.2s, box-shadow 0.2s ease;
    border: 2px solid transparent;
}

/* Stile per il passaggio del mouse (hover) */
.menu a:hover {
    color: #ff6347;
    box-shadow: 0 0 10px #ff6347, 0 0 20px #ff6347;
    border-color: #ff6347;
}

/* Dropdown menu */
.dropdown {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 180px;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.dropdown li {
    display: block;
}

.dropdown a {
    color: black;
    padding: 10px;
    display: block;
}

.dropdown a:hover {
    background-color: lightgray;
}

/* Mostra il menu a tendina al passaggio del mouse */
.menu li:hover .dropdown {
    display: block;
}

/* SOCIAL */
#instagram, #facebook, #x {
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease-in-out;
    vertical-align: middle;
}

#instagram:hover, #facebook:hover, #x:hover {
    transform: scale(1.5);
}

/* QUADRATO INFORMAZIONI */
.informazione {
    background-color: white;
    color: black;
    border-radius: 15px;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 120px;  /* 100px sotto il menu */
    left: 50px; /* Spostato a sinistra */
}

